@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-weather-info{
  
  background-color: rgb(81, 81, 81, 0.298);
  border-image: linear-gradient(to right, #009E5B 0%, #0081A3 100%) 1;
  border-top-width: 4px;
  border-style: solid;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: 20%;
}

.container-weather-panels{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-city-name{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10px;
}